{%- assign body_content = include.content
    | replace: "‘", "'"
    | replace: "’", "'"
    | replace: "“", '"'
    | replace: "”", '"'
-%}
{%- for video in site.videos -%}
  {%- assign title_to_replace = video.title
      | replace: "‘", "'"
      | replace: "’", "'"
      | replace: "“", '"'
      | replace: "”", '"'
  -%}
  {%- assign link_replacement = '<a href="' | append: video.url | append: '">' | append: video.title | append: '</a>' -%}
  {%- assign body_content = body_content | replace: title_to_replace, link_replacement -%}
{%- endfor -%}
{%- for article in site.articles -%}
  {%- assign title_to_replace = article.title
      | replace: "‘", "'"
      | replace: "’", "'"
      | replace: "“", '"'
      | replace: "”", '"'
  -%}
  {%- assign link_replacement = '<a href="' | append: article.url | append: '">' | append: article.title | append: '</a>' -%}
  {%- assign body_content = body_content | replace: title_to_replace, link_replacement -%}
{%- endfor -%}
{%- for other_person in site.people -%}
  {%- assign name_to_replace = other_person.name
      | replace: "‘", "'"
      | replace: "’", "'"
      | replace: "“", '"'
      | replace: "”", '"'
  -%}
  {%- assign display_name = other_person.name -%}
  {%- if other_person.hidden -%}
    {%- assign link_replacement = '<span class="hidden-autolink" data-original-name="' | append: display_name | append: '" data-original-url="' | append: other_person.url | append: '">[REDACTED]</span>' -%}
  {%- else -%}
    {%- assign link_replacement = '<a href="' | append: other_person.url | append: '">' | append: other_person.name | append: '</a>' -%}
  {%- endif -%}
  {%- assign body_content = body_content | replace: name_to_replace, link_replacement -%}
{%- endfor -%}
{{ body_content }}
