{% comment %}
Back-links Generator
====================
Searches all collections (articles, videos, people) to find pages that link to the current page.
Articles and videos are intermixed chronologically, followed by people.

Usage: {% include back-links.html %}
Expects page.url to be set (automatically available in layouts)
{% endcomment %}

{% assign current_url = page.url %}
{% assign current_title = page.title %}
{% assign current_name = page.name %}
{% assign current_alias = page.alias %}
{% assign content_backlinks = "" | split: "" %}
{% assign people_backlinks = "" | split: "" %}

{% comment %}
Search through all articles for references to current page
{% endcomment %}
{% for article in site.articles %}
  {% if article.url != current_url %}
    {% comment %}Check if article content or title links to current page{% endcomment %}
    {% assign content_with_fm = article.content | append: article.title | append: article.description %}
    {% assign found_match = false %}
    {% if content_with_fm contains current_url %}
      {% assign found_match = true %}
    {% endif %}
    {% if current_title and current_title != "" and content_with_fm contains current_title %}
      {% assign found_match = true %}
    {% endif %}
    {% if current_name and current_name != "" and content_with_fm contains current_name %}
      {% assign found_match = true %}
    {% endif %}
    {% if current_alias and current_alias != "" and content_with_fm contains current_alias %}
      {% assign found_match = true %}
    {% endif %}
    {% if found_match %}
      {% assign content_backlinks = content_backlinks | push: article %}
    {% endif %}
  {% endif %}
{% endfor %}

{% comment %}
Search through all videos for references to current page
{% endcomment %}
{% for video in site.videos %}
  {% if video.url != current_url %}
    {% comment %}Check video content, hosts, guests{% endcomment %}
    {% assign video_content = video.content | append: video.title | append: video.description %}
    {% if video.hosts %}
      {% for host in video.hosts %}
        {% assign video_content = video_content | append: " " | append: host %}
      {% endfor %}
    {% endif %}
    {% if video.guests %}
      {% for guest in video.guests %}
        {% assign video_content = video_content | append: " " | append: guest %}
      {% endfor %}
    {% endif %}
    {% assign found_match = false %}
    {% if video_content contains current_url %}
      {% assign found_match = true %}
    {% endif %}
    {% if current_title and current_title != "" and video_content contains current_title %}
      {% assign found_match = true %}
    {% endif %}
    {% if current_name and current_name != "" and video_content contains current_name %}
      {% assign found_match = true %}
    {% endif %}
    {% if current_alias and current_alias != "" and video_content contains current_alias %}
      {% assign found_match = true %}
    {% endif %}
    {% if found_match %}
      {% assign content_backlinks = content_backlinks | push: video %}
    {% endif %}
  {% endif %}
{% endfor %}

{% comment %}
Search through all people for references to current page
{% endcomment %}
{% for person in site.people %}
  {% if person.url != current_url %}
    {% comment %}Check person content and description{% endcomment %}
    {% assign person_content = person.content | append: person.description | append: person.name %}
    {% assign found_match = false %}
    {% if person_content contains current_url %}
      {% assign found_match = true %}
    {% endif %}
    {% if current_title and current_title != "" and person_content contains current_title %}
      {% assign found_match = true %}
    {% endif %}
    {% if current_name and current_name != "" and person_content contains current_name %}
      {% assign found_match = true %}
    {% endif %}
    {% if current_alias and current_alias != "" and person_content contains current_alias %}
      {% assign found_match = true %}
    {% endif %}
    {% if found_match %}
      {% assign people_backlinks = people_backlinks | push: person %}
    {% endif %}
  {% endif %}
{% endfor %}

{% comment %}
Sort content (articles and videos) chronologically by date
{% endcomment %}
{% assign sorted_content = content_backlinks | sort: "date" %}

{% comment %}
Display back-links section if any were found
{% endcomment %}
{% assign total_backlinks = content_backlinks.size | plus: people_backlinks.size %}
{% if total_backlinks > 0 %}
<div class="back-links-section">
  <h2>Back-links</h2>
  <p class="back-links-description">Other pages that reference this:</p>
  <ul class="back-links-list">
    {% comment %}First display articles and videos in chronological order{% endcomment %}
    {% for backlink in sorted_content %}
    <li>
      <a href="{{ backlink.url }}">{{ backlink.title | default: backlink.name }}</a>
      {% if backlink.collection %}
        <span class="back-link-type">({{ backlink.collection | slice: 0 | upcase }}{{ backlink.collection | slice: 1, 20 }})</span>
      {% endif %}
    </li>
    {% endfor %}
    
    {% comment %}Then display people{% endcomment %}
    {% for backlink in people_backlinks %}
    <li>
      <a href="{{ backlink.url }}">{{ backlink.title | default: backlink.name }}</a>
      {% if backlink.collection %}
        <span class="back-link-type">({{ backlink.collection | slice: 0 | upcase }}{{ backlink.collection | slice: 1, 20 }})</span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
